@import '../../node_modules/include-media/dist/_include-media.scss';

body{
    background: #fff;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    @include media("<=tablet") {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        height: 125vh;
    }
    .tagliner{
        small{
            font-weight: 900;
            color:#3254ca;
        }
        flex-direction: column;
        flex:2;
        padding-top: 30vh;
        
        text-align:center;
        h1,p{
            display: block;
        }
        justify-content: center;
        @include media("<=tablet") {
            display: block;
            padding-left: 30px;
            padding-right: 30px;
        }
        .cta{
            flex-direction: row;
            padding-top:5vh;
            .btn{
                margin:auto;
                margin-right:15px;
                @include media("<=tablet") {
                    margin-top:15px;
                }
            }
        }
        
    }
    img{
        max-height: 100vh;
        display:flex;
        flex:1;
        @include media("<=tablet") {
            max-height: 50vh;
            max-width: 50vw;
        }
    }
}

.services{
    text-align: center;
    padding: 50px 0px;
    @include media("<=tablet") {
        width: 100%;
        padding-top: 100px;
        h1{
            font-size: 24px;
        }
    }
}
.offers{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #fdfcff;
    width: 100vw;
    h1{
        width: 100vw;
        margin:-30px;
        margin-bottom:30px;
    }
    @include media("<=tablet") {
        width: 100%;
        h1{
            font-size: 24px;
        }
    }
    .construction{
        display: flex;
        flex-direction: row;
        flex:1;
        padding: 100px;
        border-bottom:1px solid #4e4ec30f;
        background: #45464b;
        color:#fff;
        .text{
            display: flex;
            flex-direction: column;
            padding: 50px 100px;
            padding-bottom: 30px !important;
            margin-bottom: 20px;
            text-align: left;
            width: 50vw;
            h2{
                padding:15px 0px;
                
            }
            .btn{
                margin:15px 0px;
            }
        }
        img{
            display: flex;
            max-width: 40vw;
            max-height: 40vh;
            box-shadow: -8px -2px 15px #2e2727;
        }
        @include media("<=tablet") {
            padding: 0;
            flex-direction: column;
            text-align: center;
            .text{
                padding: 10px;
                text-align: center;
                width: 100%;
                .btn{
                    margin: auto;
                    margin-top: 20px;
                }
            }
            img{
                max-width: 100vw;
                max-height: 100vh;
                box-shadow:none;
            }
        }
    }
    .cleaning{
        display: flex;
        flex-direction: row;
        flex:1;
        padding: 100px;
        border:1px solid #a8a9bcba,;
        .text{
            display: flex;
            width: 50vw;
            flex-direction: column;
            padding: 50px 100px;
            text-align: left;
            h2{
                padding:15px 0px;
                
            }
            .btn{
                margin:15px 0px;
            }
        }
        img{
            max-width: 40vw;
            max-height: 40vh;
        }
        @include media("<=tablet") {
            padding: 0;
            flex-direction: column;
            text-align: center;
            .text{
                padding: 10px;
                text-align: center;
                width: 100%;
                .btn{
                    margin: auto;
                    margin-top: 20px;
                }
            }
            img{
                max-width: 100vw;
                max-height: 100vh;
            }
        }
    }

}

.btn {
    background: #3254ca;
    color: #fff;
    border-color: #3254ca;
    width: 160px;
    &:hover{
        color:#444;
        background:#fff;
        border-color:#3f3fc0;
    }
}