.main{
    justify-content: center;
}
.page-info{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.intro{
    width: 100%;
    display: flex;
    flex:1;
    max-height: 10vh;
    margin:30px;
}
.quote-form{
    width: 100%;
    display: flex;
    flex:1;
    flex-direction: column;
    max-height: 50vh;
    
    
    .input-wrapper{
        width: 100%;
        label{
            width: 100%;
            margin:5px;
        }
        input{
            border:1px solid grey;
            width: 100%;
            margin:5px;
            padding:10px;
            border-radius: 5px;
        }
        select{
            border:1px solid grey;
            width: 100%;
            margin:5px;
            padding:30px;
            border-radius: 5px;
            height: 43px;
        }
    }
}
.button-container{
    width: 100%;
    text-align: right;
    
}
button{
    margin: 5px;
}
.done{
    border: 1px solid;
    background: #3254ca;
    margin-top: 30px;
    height: 520px;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    font-size: 10px;
}