@import '../../../node_modules/include-media/dist/_include-media.scss';
.consult-main{
    margin-top: 12vh;
    text-align: left;
}
.consult-image{
    display: inline-block;
    width: 50%;
    height: 100vh;
    img{
        height: 100%;;
    }
    @include media("<=tablet") {
        display: none;
    }
    
}
.consult-info{
    @include media("<=tablet") {
        width: 100%;
        height: 120vh;
    }
    @include media("<=phone") {
        width: 100%;
        height: 180vh;
    }
    width: 50%;
    height: 100vh;
    background: #3254ca;
    color:#fff;
    border: 1px solid #3254ca;
    display: inline-block;
    text-align: left;
    padding: 15px;
    padding: 10%;
    vertical-align: top;
}