.navbar .navbar-nav .nav-item .nav-link{
    color:#444 !important;
}
.navbar .navbar-brand{
    color:#444 !important;
}

.open-nav{
    right:50vw !important;
}

.navbar-toggler-bar{
    background:#444 !important;
}

.navbar.navbar-transparent {
    padding-top: 25px;
    background: #ffffffb0 !important;
}